.additionally-title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  line-height: 40px;
}

.components-item {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.components-volume {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.components-description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.button-components-order {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.present-text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
