.main-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-header-user {
  display: flex;
}

.main-header__logo {
  margin-top: 55px;
  margin-left: 110px;
  display: flex;
}

.main-header__logo-text {
  padding-left: 14px;
}

.main-menu {

  margin-left: 543px;
  margin-top: 55px;
}

.main-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-list__item {
  list-style-type: none;
  padding-left: 33px;
}

.site-list__item:first-child {
  padding-left: 0;
}
