.main-header {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}


.main-header-logo {
  display: flex;
  width: 100%;
}

.main-header__logo--cat {
  padding: 0;
  padding-top: 13px;
  padding-left: 20px;
  display: flex;
  width: 100%;
}

.main-header__logo-text {
  padding-top: 23px;
  width: 100%;
}

.main-header-catalog {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .main-header {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .main-header-logo {
    margin-top: 25px;
    margin-left: 30px;
    align-items: center;
    width: auto;
  }

  .main-header__logo--cat {
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
  }


  .main-header__logo-text {
    margin: 0;
    padding: 0;
    padding-left: 13px;
  }

  .main-header-catalog {
    border-bottom: none;
  }
}


@media (min-width: 1200px) {
  .main-header {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .main-header-logo {
    margin-top: 55px;
    margin-left: 110px;
  }

  .main-header__logo--cat {
    display: flex;
  }


  .main-header__logo-text {
    padding: 0;
    padding-left: 14px;
  }
}
