.main-title {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  line-height: 60px;
}

.main-text {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.button__main--text {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
}
