.stock-title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  line-height: 40px;
}

.subscription {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.news-letter {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
}
